body{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 500px;
        background: url(photos/darkclouds.jpg) no-repeat center;
    }


    .container{
        background-color: rgb(96, 99, 245);
    }


    h1{
        color: yellow;
        font-size: 50px;
    }

    label{
        color: antiquewhite;
        font-size: 25px;
    }

    #month {
        height: 30px;
        width: fit-content;
        border: 3px solid antiquewhite;
    }

    #year {
        height: 30px;
        width: fit-content;
        border: 3px solid antiquewhite;
    } 

    button{
        height: 40px;
        width: fit-content;
        border-radius:10px;
        font-size: 20px;
        background-color: black;
        border: 2px solid aliceblue;
        color: whitesmoke;
        display: flex;
        margin-left: 270px;
        margin-top: 20px;

    }

    button:active{ 
        border-color:yellow; 
     }

    input { 
        text-align: center; 
        font-size: 30px;
        width: fit-content;
    }

   p{
        background-color: yellow;
        font-size: 25px; 
        border-radius: 10px;
        max-width: 50px;
        margin-left: 270px;
    }


    h2{
        font-size: 30px;
        color: antiquewhite;
        background-color: black;
       max-width: fit-content;
        margin-left: 270px;
    }


